@model IEnumerable<DIY_Propter.Models.Prompting>

@{
    ViewBag.Title = "All Promptings";
}



    <h2>@ViewBag.Title</h2>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Create")" role="button">Create new</a>
    </p>
    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PromptID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        <tbody class="table-striped">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromptID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=@item.PromptID }) |
                        @Html.ActionLink("Details", "Details", new { id = @item.PromptID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = @item.PromptID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
